  <!DOCTYPE html>
  <html lang='en'>
    <head>
      <title>Js Feeds Scraper</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <link type="text/css" rel="stylesheet" href="css/bulma.css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    </head>

    <body>
      <section class="hero is-small is-primary is-bold">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">
              <a href="/">JS Feeds Scraper</a>
            </h1>
            <h2 class="subtitle">
              'Anonymously' discuss the newest Javascript news!
            </h2>
          </div>
        </div>
      </section>
      {{{ body }}}
      <footer class="footer">
        <div class="container">
          <div class="content has-text-centered">
            <p>
              <strong>JS Feeds Scraper</strong> by <a href="https://TGoodson.github.io/">Trevon Goodson</a>.
            </p>
            <p>
              <a class="icon" href="https://github.com/TGoodson">
                <i class="fa fa-github"></i>
              </a>
            </p>
          </div>
        </div>
      </footer>
    </body>
  </html>