<section class="section">
    <div class="container">
    {{#each articles}}
      <p class="title is-4">{{this.title}}</p>
      <p class="subtitle is-6">
        {{this.body}} 
        <br>
        <br>
        <a class="button is-small is-primary is-outlined" href={{this.link}}>
          <span class="icon is-small">
            <i class="fa fa-rss"></i>
          </span>
          <span>Source</span>
        </a>
        <a class="button is-small is-info is-outlined" href="/{{this._id}}">        
          <span class="icon is-small">
            <i class="fa fa-comments-o"></i>
          </span>
          <span>Discuss</span>
        </a>
      </p>
      <hr>
    {{/each}}
</section>